
<% if notification.category == "poll" %>
  <h4 class="notification"><%= notification.user.username %> created a poll <%= time_ago_in_words(notification.created_at) %> ago</h4>
<% elsif notification.category == "youtube" %>
  <h4 class="notification"><%= notification.user.username %> shared a new video <%= time_ago_in_words(notification.created_at) %> ago</h4>
<% elsif notification.category == "ballot" %>
  <h4 class="notification"><%= notification.user.username %> voted <%= time_ago_in_words(notification.created_at) %> ago</h4>
<% end %>
