<div class="setting-tab-container">
  <% if current_user == @room.user %>
    <div>
      <% if @room.locked %>
        <%= button_to "Locked", room_path(@room), params: { room: { locked: false } }, class: "tab-poll-btn", method: :patch, data:{ turbo_method: :patch} %>
      <% else %>
        <%= button_to "Unlocked", room_path(@room), params: { room: { locked: true } }, class: "tab-poll-btn", method: :patch, data:{ turbo_method: :patch} %>
      <% end %>
    </div>

    <div class="my-2">
      <% if @room.public %>
        <%= button_to "Public", room_path(@room), params: { room: { public: false } }, class: "tab-poll-btn", method: :patch, data:{ turbo_method: :patch} %>
      <% else %>
        <%= button_to "Private", room_path(@room), params: { room: { public: true } }, class: "tab-poll-btn", method: :patch, data:{ turbo_method: :patch} %>
      <% end %>
    </div>
    <h1 class="my-3">Applicants</h1>
    <% @room.spots.each do |spot|  %>
      <% if spot.status == "pending" %>
        <div class="d-flex align-items-center mb-3">
          <%= link_to spot.user.username, desk_path(spot.user.desk) %>

          <%= button_to "Accept", spot_path(spot), params: { spot: { status: :accepted } }, class: "tab-poll-btn me-2", method: :patch %>
          <%= button_to "Reject", spot_path(spot), params: { spot: { status: :rejected } }, class: "tab-poll-btn", method: :patch %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
