<nav class="navbar navbar-expand-lg navbar-light navbar-background sticky-top px-3">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center justify-content-center" do %>
  <%= image_tag "https://res.cloudinary.com/dawxkhlcq/image/upload/v1743781763/navbarlogo_pfgiji.png", class: "navbar-logo"%>
  <% end %>
  <button class="navbar-toggler" type="button" data-turbo="false" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <% if current_user&.desk  %>
        <%=link_to "My Desk", desk_path(current_user.desk), class: "nav-link navbar-text"%>
        <% end %>
      </li>
      <li class="nav-item active">
        <%=link_to "Desks", desks_path, class: "nav-link navbar-text"%>
      </li>
      <li class="nav-item">
        <%=link_to "Hives", rooms_path, class: "nav-link navbar-text"%>
      </li>
      <li class="nav-item">
        <%=link_to "My hives", my_rooms_path, class: "nav-link navbar-text"%>
      </li>
    </ul>
    <div class="d-none d-md-flex ms-auto gap-2">
      <% if current_user %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn home-custom-sign-btn navbar-text" %>
      <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "nav-link navbar-text" %>
      <%= link_to "Log In", new_user_session_path, class: "nav-link navbar-text" %>
      <% end %>
    </div>
    <div class="d-flex flex-column d-md-none ms-auto">
      <% if current_user %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn home-custom-sign-btn navbar-text" %>
      <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "nav-link navbar-text" %>
      <%= link_to "Log In", new_user_session_path, class: "nav-link navbar-text" %>
      <% end %>
    </div>
  </div>
</nav>
