<h1>Resourses</h1>
<% @room.res_list.each_with_index do |item, idx| %>
  <div class="d-flex">
    <% if @room.user == current_user %>
      <%= form_with url: room_path(@room), method: :patch do |f| %>
        <%= f.hidden_field :idx_to_remove, value: idx %>
        <%= f.submit "-", class: "resources-button" %>
      <% end %>
    <% end %>

    <a href="<%= item %>" target="_blank"><%= item %></a>
  </div>
<% end %>

<% if @room.user == current_user %>
  <%= form_with url: room_path(@room), method: :patch do |f| %>
    <div class="resources-form">
      <%= f.text_field :input_field, class: "w-75", placeholder: "Add a new resource link" %>
      <%= f.submit "+", class: "resources-button" %>
    </div>
  <% end %>
<% end %>
