<div class="card col-sm-6 col-md-4 room-index-card room-animation-card hex-card">
  <div class="card-body text-center room-card-body">
    <h5 class="card-title"><%=room.title%></h5>
    <p class="card-text"><strong><%=room.user.username%></strong></p>
    <p class="card-text"><strong><%=room.public ? "Public" : "Private"%></strong></p>
    <p class="card-text"><strong><%=room.spots.length%> members</strong></p>
    <% if status_text.present? %>
      <p class="card-text"><strong><%=status_text%></strong></p>
    <% end %>
  </div>
</div>
