<div class="search-container">
  <%= form_with url: desks_path, method: :get, local: true, class: "search-form" do %>
    <select name="search_type" class="search-select">
      <option value="title" <%= "selected" if params[:search_type].nil? || params[:search_type] == "title" %>>Desk Title</option>
      <option value="user" <%= "selected" if params[:search_type] == "user" %>>Desk User</option>
    </select>
    <%= text_field_tag :query, params[:query], placeholder: "  Search Desk by desk title or username...", class: "search-input" %>
    <%= submit_tag "ðŸ”", class: "search-button" %>
  <% end %>
</div>
