<div class="container mt-4" id="index-container" data-controller="load-more">
  <canvas data-controller="blackboard" data-blackboard-target="canvas" class="blackboard-img" data-blackboard-image-url="<%= asset_path('blackboard1.png') %>"></canvas>


  <div class="search-container">
    <%= form_with url: desks_path, method: :get, local: true, class: "search-form" do %>
      <select name="search_type" class="search-select">
        <option value="title" <%= "selected" if params[:search_type].nil? || params[:search_type] == "title" %>>Desk Title</option>
        <option value="user" <%= "selected" if params[:search_type] == "user" %>>Desk User</option>
      </select>
      <%= text_field_tag :query, params[:query], placeholder: "Search Desk...", class: "search-input" %>
      <%= submit_tag "ðŸ”", class: "search-button" %>
    <% end %>
  </div>





  <div class="row d-flex flex-wrap justify-content-center" data-load-more-target="container">
    <% if @desks.nil? %>
      <div class="col-md-12">
        <h1 class="text-center">No desks found</h1>
      </div>
    <% else %>
      <%@desks.each do |desk| %>
      <%=render "shared/card", desk: desk%>
      <%end%>
    <%end%>
  </div>
  <% unless @all_desks.nil? %>
    <% if @all_desks.count > 4 %>
      <button id="load-more" data-page="1" class="btn btn-primary" data-action="click->load-more#loadMore" data-page="1" data-load-more-target="button">Load More</button>
    <% end %>
  <% end %>
</div>
