<div class="d-flex flex-row show-desk-bg" style="padding-bottom: 150px;">
  <div class="desk-show-info-wrap d-flex flex-column col-6">
    <div class="desk-show-shot-and-name d-flex flex-row align-items-center justify-content-center">
      <%= render "show_user_headshot" %>
      <%= render "show_user_title_status" %>
    </div>
    <div class="d-flex flex-row justify-content-center desk-show-bottom">
      <%= render "show_user_bar" %>
      <%= render "show_user_info" %>
    </div>
  </div>
  <div class="desk-img col-6">
    <%= render "show_sticky_notes"%>
    <%= render "show_ai_bee"%>
  </div>
</div>
