
  <%= simple_form_for @poll, url: room_polls_path(@room) do |f| %>
    <div>
      <%= f.input :question, label: "Question:" %>
    </div>

    <div>
      <%= f.input :deadline, as: :datetime, label: "Deadline" %>
    </div>

    <div>
      <%= label_tag "Options(maximum: 4)" %>
      <% 4.times do |i| %>
        <%= text_field_tag "poll[options][]", nil, placeholder: "Option #{i+1}" %>
      <% end %>
    </div>
    <%= f.submit "Create Poll", class: "btn btn-primary"%>
  <% end %>
