<h1>Chat</h1>
<div id="chatmessages">
  <% @room.chatmessages.each do |chatmessage| %>
    <%= render "chatmessages/chatmessage", chatmessage: chatmessage, liked: (current_user&.voted_for?(chatmessage) || false) %>
  <% end %>
</div>
<%= simple_form_for [@room, @chatmessage], html: {class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
  <%=
          f.input :content,
          label: false,
          placeholder: "Message from #{current_user.username}",
          wrapper_html: {class: "flex-grow-1"},
          input_html: { id: "msg_content", data: { action: "keydown.enter->reset-form#submit" } }
        %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>

<!-- Giphy search section -->

<div data-controller="giphy" class="giphy-search-box">
  <button type="button" data-action="click->giphy#open" class="btn btn-secondary">Send GIF</button>
  <input type="text" data-giphy-target="input" placeholder="search GIF..." class="form-control d-none" data-giphy-apikey-value="<%=ENV["GIPHY_API_KEY"]%>" data-action="input->giphy#search">
  <div data-giphy-target="results" class="giphy-results"></div>
</div>
