<%=link_to "Create a new room", new_room_path, class: "btn btn-secondary m-2" %>
<div class="container mt-4">
  <div class="row">
    <%@rooms.each do |room| %>
      <%=render "shared/roomcard", room: room%>
    <%end%>
    <div class="image-container">
      <%= image_tag "hex room A.png", class: "image default" %>
      <%# <%= image_tag "hex room B.gif", class: "image animated" %>
      <%# <%= image_tag "hex room B.png", class: "image last-frame" %>
    </div>
  </div>
</div>
