<%= turbo_stream_from "room_#{@room.id}_chatmessages" %>

<div class="container">
  <div class="row">
    <!-- Left side: 7-column flexbox -->
    <div class="col-7 d-flex flex-column">
      <div class="room-show-index mb-3">
        <%= render "youtube" %>
      </div>
      <div class="tabs">
        <%= render "tabs" %>
      </div>
    </div>

    <!-- Right side: 5-column -->
    <div class="col-5 room-show-chat">
      <%= render "roomchat" %>
    </div>
  </div>
</div>


  <% if @spot_current_user.present? %>
    <div data-controller="user-activity" data-user-activity-url-value="<%= spot_path(@spot_current_user) %>">

      <!--
      <%= @spot_current_user.user.username %>
      <%= @spot_current_user.active %>
      -->
    </div>
  <% end %>
  <div class="row">
    <% @spots_accepted.each do |spot| %>
      <div class="col-3">
        <p><%= spot.user.username %></p>
        <p><%= spot.user.desk.image %></p>
      </div>
    <% end %>
  </div>
</div>
