<%= turbo_stream_from "room_#{@room.id}_chatmessages" %>

<div class="container">
  <%# dQw4w9WgXcQ %>
  <%# QMW4AqbuSG %>
  <div class="row my-5">
    <div class="col-7 px-5">
      <%= render "youtube" %>
    </div>
    <div class="col-5">
      <%# This is the code for the tabs %>
      <%= render "tabs" %>
      <%# Above is the code for the tabs %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 chatbox">
      <%= render "roomchat" %>
    </div>
  </div>

  <% if @spot_current_user.present? %>
    <div data-controller="user-activity" data-user-activity-url-value="<%= spot_path(@spot_current_user) %>">

      <!--
      <%= @spot_current_user.user.username %>
      <%= @spot_current_user.active %>
      -->
    </div>
  <% end %>
  <div class="row">
    <% @spots_accepted.each do |spot| %>
      <div class="col-3">
        <p><%= spot.user.username %></p>
        <p><%= spot.user.desk.image %></p>
      </div>
    <% end %>
  </div>
</div>
