<div class="container">
  <div class="d-flex mt-2">
    <div class="search-container">
      <input type="text" placeholder="youtube search">
      <button type="button"><i class="fa fa-search"></i></button>
    </div>
    <h1 class="ms-auto"><%= @room.title %></h1>
  </div>

  <h1>Owner: <%= @room.user.username %></h1>

  <% if current_user == @room.user %>
    <div class="d-flex mb-2">
      <%= link_to "Edit room", edit_room_path(@room), class: "btn btn-primary" %>
      <%= button_to "Delete room😱", @room, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger", form_class: "ms-auto" %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-6 border">VIDEO HERE</div>
    <div class="col-6 border">KANBAN HERE</div>
  </div>

  <div class="row">
    <div class="col-8 border">
      <% @room.spots.each do |spot|  %>
        <p>Desk: <%= spot.user.desk.title %>. Status: <%= spot.status %></p>
      <% end %>
    </div>
    <div class="ms-auto col-3 border">
      CHAT
    </div>
  </div>

</div>
